.chat_page{
    border-radius: 10px;
    &_wraper{
    max-width: 100%;
    min-height: 100vh;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    }
    &-container{
        background-color:rgba($color: #585555, $alpha: 0.1);
        border-radius: 10px;
            width: 60%;
            min-height: 70%;
            display: flex;
            border: 1px solid rgba(var(--b38,219,219,219),1);
      
            margin: 10px 0 10px 0;
            padding: 5px;
            padding-left: 0;
    }
    &-left{
        width: 25%;
        border-radius: 10px;
        height: 100%;
        border: 1px solid rgba(var(--b38,219,219,219),1);
        padding: 4px;
        padding-top: 10px;
        border-left: none;
        overflow-y: scroll;
        &-top{
            border-radius: 5px;
            width: 100%;
            text-align: center;
            background-color:rgba($color: #585555, $alpha: 0.3);
            height: 40px;
            border: 1px solid rgba(var(--b38,219,219,219),1);
            padding-top: 10px;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
.chat-page-room-item{
    display: flex;
    color: black;
    text-decoration: none;
    height: 50px;
    align-items: center;
    padding: 4px 8px;
    overflow:hidden;
    border: 1px solid rgba(var(--b38,219,219,219),1);
    margin-top: 5px;
    &:hover{
        background-color:rgba($color: #aca6a6, $alpha: 0.5);
    }
}
.chat-page-room-avatar{
    margin-right: 10px;
}
.messages{
    &_container{
        min-width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 10px;
    }
    &_message{
        min-height: 44px;
        padding-bottom: 16px;
        padding-top: 16px;
        border: 1px solid rgba(var(--bb2,239,239,239),1);
        margin-bottom: 8px;
        max-width: 40%;
        border-radius: 15px;
        padding: 7px;
        &_my{
               background-color: #999999;
               transform: translateX(136%);
               display: flex;
        }
        &_other{
            background-color: #d9d9d9;
            display: flex;
        }
      
    }
}
.chat_page-rigth{
    width: calc(74% - 20px);
}
.messages_userimage{
    width: 50px;
    height: 50px;
    margin-right: 4px;
    border-radius: 50%;
    img{
        border-radius:50%;
    }
   
}
.messages_message{
    position: relative;
  
    span.m_time{
        position: absolute;
        bottom: -20px;
        left: 40px;
        display: none;
    }
    span.m_heart{
        position: absolute;
        bottom: -15px;
        right: 10px;
        cursor: pointer;
    }
    &:hover{
        span.m_time{
            display: block;
        }
    }
}
.message_text{
    width: calc(100% - 50px);
    overflow-wrap: break-word;
}
.message_big_wraper{
    height: 100vh;
}