.header_big_wraper{
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: rgba(var(--d87,255,255,255),1);
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
}
.header_container{
    width: 55%;
    height: 100%;
}
.header_small_wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log_user{
    width: 20px;
    cursor: pointer;
}
.header_rigth{
    display: flex;
    justify-content: space-between;
}
.header_icons{
    width: 30px;
    height: 30px;
    margin:0 10px;
    cursor: pointer;
    border-radius: 50%;
}
.header_search_input{
    width: 230px;
    height: 20px;
    outline:none;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    position: relative;
    font-size: 16px;
    border-radius: 10px;
    padding: 6px;
    &::placeholder{
        text-align: center;
        font-size: 18px;
    }
    &:focus::placeholder {
        color: black;
        text-align: left;
        font-size: 16px;
      }
}
