$modalborder:rgba(var(--f52, 142, 142, 142), 1);

.post_modal_overlay {
  min-width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999999999999999999;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_content {
  width: fit-content;
  height: 80%;
  width: 60%;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
}
.post_modal_close {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
.modal_image {
  width: 67%;
  height: 100%;
}
.other_content {
  width: 33%;
    display: flex;
    flex-direction: column;
  overflow: hidden;
  overflow-wrap: break-word;
}
.modal_othertop-avatar {
  border-radius: 50%;
  cursor: pointer;
}
.modal_othertop {
    padding: 30px 15px 0px 15px ;
  display: flex;
  align-items: center;
}
.modal_othertop_username {
  color: rgba(var(--f75, 38, 38, 38), 1);
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
  &:hover {
    text-decoration: underline;
  }
}
.modal_otherbody {
  width: 100%;
  margin-top: 20px;

  border-top:1px solid $modalborder ;
  border-bottom: 1px solid $modalborder;
  height: 80%;
  overflow-y:scroll  ;
}
.modal_coment_wraper {
  display: flex;
  align-items: center;
  padding:0 20px 10px 20px;
  margin: 35px 0;
  border-bottom: 0.02em solid rgba(var(--f52, 142, 142, 142), 0.3);
}
.coment_text_wraper {
  width: 78%;
  min-height: 30px;
  margin-left: 10px;
  color: #262626;
  line-height: 20px;
  > a {
    font-weight: 500;
    text-decoration: none;
    color: rgba(var(--f75, 38, 38, 38), 1);
    &:hover {
      text-decoration: underline;
    }
  }
  > span {
    margin-left: 10px;
    overflow-wrap: break-word;
  }
  .modal_coment_time {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
    line-height: 14px;
    cursor: default;
    color: rgba(var(--f52, 142, 142, 142), 1);
    display: flex;
    justify-content:flex-start;
    div{
        margin-left: 7px;
        cursor: pointer;
    }
    
  }
}
.coment_answer{
    cursor: pointer;
}
.modal_post_form{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.modal_coment_input{
        outline: none;
       max-height: 80px;
       height: 18px;
        // display: block;
        margin: 0 auto;
        border: 2px solid rgba(var(--b6a,219,219,219),1);
        border-radius:10px;
        margin-top: 20px;
        flex: 1 1 auto;
        padding: 10px;
        &::placeholder{
            text-align: center;
          
        }
        &:focus{
            &::placeholder{
                text-align: left;
            }
        }
        +button{
            height: 40px;
            border: 2px solid rgba(var(--b6a,219,219,219),1);
            border-radius:10px;
            margin-bottom: -20px;
            font-size: 16px;
            cursor: pointer;
        }
    
}
.coment_heart{
  background: none;
    width: 30px;
    height: 30px;
    background: url(../components/postmodel/heart.png) center center/cover no-repeat;
    cursor: pointer;

}
.deletecomentoverlay{
    position: fixed;
    z-index: 9999999999999999999999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.deletecoment_modal-body{
  min-height: 100px;
  min-width: 200px;
  background-color:#fff;
  display: flex;
  flex-direction: column;
    padding: 10px;
    border-radius: 20px;
}
.deletecoment_modal{
  &-delete,&-cancell{
      width: 200px;
      height: 50px;
      cursor: pointer;
      margin: 5px 10px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 500;
  }
  &-delete{
    background-color: rgba($color: #c55050, $alpha: 1.0);
    &:hover{
      background-color: rgba($color: red, $alpha: 0.4);
    }
  }
  &-cancell{
        width: 170px;
        height: 40px;
        margin-left: 25px;
        &:hover{
          background-color: rgba($color: green, $alpha: 0.4);
        }
  }
}
.comment_delete-close{
    color: rgba($color:#ffffff, $alpha: 0.7);
}
.userloading{
  text-align: center;
}