
.signup_change{
    width: 20%;
    margin: 0 auto;
}
.sublogo_descr{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
}
.forgot_lock{
    width: 150px;
    height: 110px;
    background: url('../static/images/login/394-3943367_instagram-icon-round-grey-hd-png-download.png') center/cover no-repeat;
}
.enter_email{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    line-height: 18px;
    margin: -3px 0 -4px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}
.signup_avatar{
    border-radius: 50%;
    margin: 15px 0;
}
.signup_file{
    display: none;
    +label{
        width: 35px;
        height: 35px;
        cursor: pointer;
        background: url('../static/images/login/icon-camera-512.png')center/cover no-repeat;
    }
}
.reset_form{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    font-size: 25px;
    color: white;
    >form{
        margin-top: 20px;
        >div{
            background-color: white;
        }
    }
}